/* CSS Rest */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.box {
  background: lightgray;
  border: indigo 2px solid;

  /* padding on all side */
  padding: 20px;

  /* padding per side */
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  /* padding shorthand : top right bottom left*/
  padding: 10px 20px 10px 20px;

  /* padding shorthand= top/bottom left/right; */
  padding: 10px 20px;

  /* Margin on all side */
  margin: 20px;

  /* margin per side */
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;

  /* margin shorthand : top right bottom left*/
  margin: 10px 20px 10px 20px;

  /* margin shorthand= top/bottom left/right; */
  margin: 10px 20px;
}



